:root {
	--muted-foreground: #475569;
	--muted-background: #e2e8f0;
	--base: #1e293b;
	--accent: #4338ca;
	--section-border: var(--accent-1) 3px solid;
	--text-small: 0.75rem;
	--text-medium: 0.85rem;
	--text-large: 1.2rem;
	--text-xl: 1.5rem;
	--text-xxl: 2.5rem;
}
